#animation-control {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);

    /* border: 0.1em solid var(--main-color); */
    border-radius: 0.8em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    z-index: 1000;
}

#animation-control.active {
    display: flex;
}

.ac-button {
    display: inline-flex;
    align-items: center;

    cursor: pointer;

    background-color: transparent;
    border: 0;

    height: 100%;
}

.ac-button:hover {
    opacity: 1;
}

.ac-button:active {
    opacity: 0.8;
}

.ac-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.ac-button span {
    color: var(--main-color);
    font-size: 3.5em;
    font-variation-settings: 'wght' 300, 'opsz' 48
}

.red {
    color: var(--error);
}

#animation-counter {
    color: var(--main-color);
    font-size: 1.6em;
    margin: 0 1em;
}

.range-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.range-slider-speed-display {
    color: var(--main-color);
    font-size: 1.6em;
}