/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#config-editor-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}

.config-editor-grid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.config-editor-grid-item input {
    width: 30px;
}

#config-editor-direct-input,
#config-editor-node-weighted-input,
#config-editor-edge-weighted-input {
    height: 30px;
}

.config-editor-confirm-buttons {
    margin-top: 25px;
    justify-content: end;
}

#config-editor-cancel-button {
    background: var(--error);
}

#config-editor-cancel-button:hover {
    background: #e23636cc;
}

#config-editor-ok-button {
    background: var(--success);
}

#config-editor-ok-button:hover {
    background-color: #75c75ccc;
}