.graph-button {
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: center;
    position: relative;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    transition: background 0.25s;
    cursor: pointer;
}

.graph-button:hover {
    background: var(--secondary-color);
    transition: background 0.25s ease-in-out;
}

.graph-button:active {
    background: var(--main-color);
}

.info-icon, .edit-icon {
    width: 1.8em;
    height: auto;
}

#github-page-button {
    height: 2.4em;
    padding: 0.3em;
}

#github-page-button-img {
    height: 100%;
    width: 100%;
}