.graph-button {
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: center;
    position: relative;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    transition: background 0.25s;
    cursor: pointer;
}

.graph-button:hover {
    background: var(--secondary-color);
    transition: background 0.25s ease-in-out;
}

.graph-button:active {
    background: var(--main-color);
}
