.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1010;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.modal-close-button {
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 0px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    line-height: 20px;
}

.modal-content .graph-button {
    background-color: var(--main-color);
    margin: 5px 5px;
}

.modal-content .graph-button:hover {
    background-color: var(--secondary-color);
}

.modal-content p, label {
    color: var(--main-color);
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 3;
}

.modal-content h3 {
    font-size: 20px;
    color: var(--main-color);
}

.modal-content input {
    color: var(--main-color);
}

.modal-content textarea {
    color: var(--main-color);
}

#color-input {
    position: center;
}