.panel {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 4px;
    width: fit-content;
    height: fit-content;
    z-index: 999;
}

.panel-close-button {
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 0px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    grid-column: 2;
}

.panel .graph-button {
    background-color: var(--main-color);
    margin: 5px 5px;
}

.panel .graph-button:hover {
    background-color: var(--secondary-color);
}

.panel p, label {
    color: var(--main-color);
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 3;
}

.panel h3 {
    font-size: 20px;
    color: var(--main-color);
}