header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: var(--main-color);

    height: 4em;
    width: 100%;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}